# Ignore node_modules and dependencies
node_modules/

# We only want the yarn.lock file
package-lock.json

# Ignore Python dependencies and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.poetry/

# Ignore built files and caches
dist/
build/
out/
.nx
.next/
*.tsbuildinfo
projects/components/.storybook/.docs
projects/webapp/public/favicons


# Ignore database-related files
pgdata/
*.sqlite3

# Ignore custom Docker-related files
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.dev.yml
docker-compose.dev.yaml
docker-compose.prod.yml
docker-compose.prod.yaml
docker-compose.logs
docker-compose.override.logs
Dockerfile.dev
Dockerfile.prod

# Ignore IDE and editor files
.vscode/
.cursor/
.idea/
*.sublime-workspace
.project
.classpath
.settings/
*.launch
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
logs/
*.log
*.logs

# Ignore test coverage
/coverage
/junit.xml
/pytest_cache/
.nyc_output/


storybook-static
test-output
