.profile-page {
  align-content: start;
}

.card-box {
  width: 95vw;
  min-height: 70vh;
  background-color: col.$input-focus-bg;
}

.navbar {
  flex: unset;
  width: 15vw;
  max-width: unset;
}

.social-buttons-provider-icon {
  width: 2rem;
  height: 2rem;
  margin: margin(.5);
}

.form-field-input {
  padding: padding(1.5) padding(1);
}

.form-field-label {
  margin-bottom: margin(.5);
}

.navbar-button-icon {
  svg {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: .9rem;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(1);

  p {
    line-height: 1.5;
  }
}
